@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: white;
  background-color: #2E0249;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid gold;
}
.navbar h1 {
  color: gold;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: goldenrod;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* game preview / list */
.game-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid gold;
}
.game-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 1);
  cursor: text;
}
.game-preview h3 {
  font-size: 20px;
  color: goldenrod;
  margin-bottom: 8px;
}
.game-preview button {
  background-color: goldenrod;
  color: #2E0249;
  border-radius: 5px;
  cursor: pointer;
}
.game-preview a{
  text-decoration: none;
}
.game-list h2 {
  color: gold; 
}

/* game details page */
.game-details h2 {
  font-size: 20px;
  color: gold;
  margin-bottom: 10px;
}
.game-details p {
  font-weight: bold;
}
.game-details div {
  margin: 20px 0;
}
.game-details button {
  background: goldenrod;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new game form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  color: gold;
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: gold;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid gold;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: goldenrod;
  color: #2E0249;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}